
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Nyashi', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
  background:linear-gradient(to bottom right, #FFBDFF, #FDFF96);
  text-align:center;
  display: block;
}
h1 {
  margin-top: 10px;
  padding: 12px;
  background-color: white;
  justify-self: center;
  width: 80%;
  border-radius: 16px;
  border-bottom: 4px dotted #C9EFFF;
  font-size: 48px;
  color:#FF85FF;
  display: inline-block;
}
h2 {
  margin-top: 40px;
  padding: 4px;
  background-color: white;
  justify-self: center;
  width: 40%;
  border-radius: 10px;
  border-bottom: 3px dotted #FFBDFF;
  font-size: 32px;
  color:#85C2FF;
  display: inline-block;
} 
p {
  text-align: left;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 24px;
  color:#6F6F6F;
}
a {
  color: #4C97FF;
}
a:hover {
  color: #395dbe
}
a:visited {
  color: #3f3f3f;
}
footer {
  background-color: #3abdd4;
  height: 120px;
  align-content: end;
  padding-bottom: 6px;
}
#Copyright {
  font-size: 24px;
  color: #f0f0f0;
}